# common ignored files
*.log
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
out/
*.ipr
*.iws

# Maven
target/
*.mvn/
!.mvn/wrapper/maven-wrapper.jar
*.bat
*.cmd

# PostgreSQL
*.sql~
*.dump

#local settings of system
.DS_Store
Thumbs.db
*.swp
*.swo

#local configuration files
application.properties
application.yml
.env